body {
  background: #eeeeee;
  font-family: "Arial";
}

#main h1 {
  color: #444;
  text-align: center;
}

#main {
  padding: 0;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}

#book-list {
  padding: 0;
}

#book-list li {
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #880E4F;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
  cursor: pointer;
  color: #880E4F;
  list-style: none;
}

form {
  background: #fff;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50%;
  border-left: 1px solid #444;
  border-top: 1px solid #444;
  border-radius: 3px;
  box-sizing: border-box;
}

form#add-book {
  left: 50%;
}

form .field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

form label,
form .messages {
  text-align: right;
  padding: 6px;
}

form .messages {
  color: #AD1457;
}

form .messages span {
  visibility: hidden;
  opacity: 0;
  font-size: 0;
  transition: opacity 0.2s ease-in;
}

form .messages span.show {
  visibility: visible;
  opacity: 1;
  font-size: 100%;
}

form select, form input {
  margin: 4px;
  padding: 6px;
  box-sizing: border-box;
}

form button {
  color: #fff;
  font-size: 2em;
  background: #AD1457;
  border: 0;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

form button[disabled] {
  opacity: 0.3;
}

#book-details {
  position: fixed;
  right: 0;
  top: 0;
  width: 40%;
  height: 100%;
  background: #AD1457;
  padding: 30px;
  overflow: auto;
  box-shadow: -2px -3px 5px rgba(0,0,0,0.3);
  box-sizing: border-box;
  color: #fff;
}